:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(0, 0, 0);/*rgb(30, 30, 30);*/
    --secondary: rgb(0, 0, 0); /*rgb(108, 108, 108);*/
    --tertiary: rgb(255, 255, 255); /*rgb(214, 214, 214);*/
    --content: rgb(0, 0, 0); /*rgb(31, 31, 31);*/
    --code-block-bg: rgb(0, 0, 0); /*rgb(28, 29, 33);*/
    --code-bg: rgb(255, 255, 255); /*rgb(245, 245, 245);*/
    --border: rgb(255, 255, 255); /*rgb(238, 238, 238);*/
    color-scheme: light;
}

:root[data-theme="dark"] {
    --theme: rgb(0, 0, 0); /*rgb(29, 30, 32);*/
    --entry: rgb(0, 0, 0); /*rgb(46, 46, 51);*/
    --primary: rgb(255, 255, 255); /*rgb(218, 218, 219);*/
    --secondary: rgb(255, 255, 255); /*rgb(155, 156, 157);*/
    --tertiary: rgb(0, 0, 0); /*rgb(65, 66, 68);*/
    --content: rgb(255, 255, 255);
    --code-block-bg: rgb(255, 255, 255); /*rgb(46, 46, 51);*/
    --code-bg: rgb(0, 0, 0); /*rgb(55, 56, 62);*/
    --border: rgb(0, 0, 0); /*rgb(51, 51, 51);*/
    color-scheme: dark;
}

.list {
    background: var(--code-bg);
}

[data-theme="dark"] .list {
    background: var(--theme);
}
